// https://eslint.bootcss.com/docs/user-guide/configuring 中文文档地址
{
    "env": {
        "node": true,
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "no-console": "off",
        "no-mixed-requires": "off",
        "indent": ["warn", 4]
    },
    "overrides": [
        {
            "files": ["*.ts"],
            "parser": "@typescript-eslint/parser",
            "plugins": ["@typescript-eslint"],
            "extends": "plugin:@typescript-eslint/recommended",
            "rules": {
                "@typescript-eslint/explicit-module-boundary-types": "off"
            }
        }
    ]
}
